<ul>
    <li>
        <a>
        Cart<span class="caret"></span>
    </a>
        <ul class="dropdown">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link"><button class="pagerbutton" (click)="prevCartPage()" [disabled]="from<=0 ">previous</button></a></li>
                    <li class="page-item"><a class="page-link"><button class="pagerbutton" (click)="nextCartPage()" [disabled]="to>=cart.length">next</button></a></li>
                </ul>
            </nav>
            <li class="left">
                <app-game-preview *ngFor="let game of cart | slice : from : to" [game]="game" (removeEvent)="removeFromCart(game)"></app-game-preview>
            </li>

            <button routerLink="/checkout">checkout</button>

        </ul>
    </li>
</ul>

<ngb-carousel #carousel [interval]="2000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
    <ng-template class="slide" ngbSlide [id]="i" (onSlide)="image = img" *ngFor="let game of games; index as i">
        <div class="carousel-caption">
            <h3 id="gametitle">{{game.title}}</h3>
        </div>
        <div class="picsum-img-wrapper">
            <img [src]="game.img" alt="My image">
        </div>
    </ng-template>
</ngb-carousel>
<button class="myButton" (click)="customize()">customize</button>